<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login Saber Pro</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div id="particles-js"></div>

  <div class="login-container animated fadeIn">
    <img src="/image.png" alt="Saber Pro Logo" class="logo">

    <h2>Bienvenido a Saber Pro</h2>

    <div class="cards-container">
      <div class="login-card">
        <h3 class="coordinador">Coordinador</h3>
        <form action="/login-coordinador" method="post">
          <label>Correo:</label>
          <input type="text" name="correo" required placeholder="coordinador@correo.com">
          <label>Contraseña:</label>
          <input type="password" name="contraseña" required placeholder="*******">
          <button type="submit" class="btn-coordinador">Entrar</button>
        </form>
      </div>

      <div class="login-card">
        <h3 class="estudiante">Estudiante</h3>
        <form action="/login-estudiante" method="post">
          <label>Correo:</label>
          <input type="text" name="correo" required placeholder="estudiante@correo.com">
          <label>Contraseña:</label>
          <input type="password" name="contraseña" required placeholder="*******">
          <button type="submit" class="btn-estudiante">Entrar</button>
        </form>
      </div>
    </div>
  </div>

  <div id="particles-js"></div>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script>
    particlesJS.load('particles-js', '/particles.json');
  </script>
  
</body>
</html>
